body {
    text-align: center;
    color: #FFFFFF;
}

table {
    margin: auto;
}

a {
    color: #FFFFFF;
    text-decoration-line: none;
}

.itemDataRow:hover {
    background-color: forestgreen;
    color: black;

}