html {
    text-align: center;
    background-size: cover;
    background-image: url("../sourse/image/rice-farming-2775411.jpg");
}

table {
    margin: auto;
    background: deepskyblue;
}


#checkCodeInputBox {
    width: 50%;
}

.prompt {
    text-align: justify;
}

.prompt::after {
    display: inline-block;
    width: 100%;
    content: "";
}

#loginButton {
    width: 100%;
}