body {
    text-align: center;
}

table {
    margin: auto;
}


#checkCodeInputBox {
    width: 50%;
}

.prompt {
    text-align: justify;
}

.prompt::after {
    display: inline-block;
    width: 100%;
    content: "";
}

#loginButton {
    width: 100%;
}