.leftLabel {
    width: 100%;
    height: 100px;
    color: black;
    text-align: center;
}

.leftLabel:hover {
    cursor: hand;
    color: deepskyblue;
}

#leftLabelArea {
    vertical-align: center;
}