html {
    text-align: center;
    background-size: cover;
    background-image: url("../sourse/image/rice-farming-2775411.jpg");
}

a, span {
    white-space: nowrap;
    vertical-align: bottom;
}

table {
    margin: auto;
}


#checkCodeInputBox {
    width: 25%;
}

.prompt {
    text-align: justify;
}

.prompt::after {
    display: inline-block;
    width: 100%;
    content: "";
}

#registeredButton {
    width: 100%;
}


#registeredForm {
    border-radius: 20px;
    width: 350px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -10%);
    background-color: rgba(255, 255, 255, 80%)
}

td  {
    margin: auto;
    vertical-align: bottom;
    height: 30px;
    white-space: nowrap;
    text-align: justify-all;
}

th {
    text-align: center;
}

img {
    vertical-align: bottom;
}

span {
    display: inline-block;
}

#passwordNotEqual {
    display: none;
}